<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- make spring look up annotation -->
	<context:annotation-config />

	<!--
		扫描com及子包,自动实例化带@注释的实例，这里排除@Controller，所有controller的实例化在 mvc-config中完成
	-->
	<context:component-scan base-package="org.simpro.*,com.*">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!--注意：初始化config.xml文件 -->
    <bean id="configUtils" class="org.simpro.util.ConfigUtils" init-method="initConfig">
    	<property name="configFileClassPath" value="config.xml"/>
    </bean>
	
	<!-- Application Message Bundle -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="test/i18n-resources" />
		<property name="defaultEncoding" value="utf-8" />  
        <property name="useCodeAsDefaultMessage" value="true" />  
        <property name="cacheSeconds" value="0"></property>
	</bean>
	
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<!-- 基本属性 url、user、password -->
		<property name="url" value="jdbc:oracle:thin:@123.59.52.182:1521:orcl" />
		<property name="username">
			<value>grwes</value>
		</property>
		<property name="password">
			<value>grwes</value>
		</property>
		<!-- 配置初始化大小、最小、最大 -->
		<property name="initialSize" value="1" />
		<property name="minIdle" value="1" />
		<property name="maxActive" value="5" />

		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="60000" />

		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />

		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />

		<property name="validationQuery" value="SELECT 'x' from dual" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />

		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements" value="true" />
		<property name="maxPoolPreparedStatementPerConnectionSize"
			value="20" />

		<!-- 配置监控统计拦截的filters -->
		<property name="filters" value="stat" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="mappingDirectoryLocations">
			<list>
				<value>test/</value>
			</list>
		</property>
		<property name="mappingJarLocations">
			<list>
			<!--
					<value>WEB-INF/lib/simpro-wwop-4.0.jar</value>
					<value>WEB-INF/lib/simpro-bizframe-rbac-2.0.jar</value>
					<value>WEB-INF/lib/simpro-bizframe-rbac4oracle-2.0.jar</value>
					<value>WEB-INF/lib/simpro-bizframe-orgn-2.0.jar</value>
					<value>WEB-INF/lib/simpro-bizframe-orgn4oracle-2.0.jar</value>
					<value>WEB-INF/lib/simpro-bizframe-dict-2.0.jar</value>
					<value>WEB-INF/lib/simpro-bizframe-portal-2.0.jar</value>
				-->
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>

				<prop key="hibernate.hbm2ddl.auto">false</prop>

				<!--
					<prop key="hibernate.hbm2ddl.auto">create</prop>
				-->
				<prop key="hibernate.query.substitutions">true=1,false=0</prop>
				<prop key="hibernate.jdbc.use_scrollable_resultset">false</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<!-- Performance tuning -->
				<prop key="hibernate.default_batch_fetch_size">8</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>

				<!-- Disable the second-level cache -->
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>

				<!--
					Default is false for backwards compatibility. Should be used on all
					new projects
				-->
				<prop key="hibernate.id.new_generator_mappings">true</prop>
			</props>
		</property>
		<property name="lobHandler" ref="SQLLobHandler" />
	</bean>
	<bean id="SQLLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"
		lazy-init="true" />

	<!-- 事物配置-->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<!-- 配置事务属性 -->
		<property name="transactionAttributes">
			<props>
				<prop key="*">readOnly</prop>
				<prop key="login">PROPAGATION_REQUIRED</prop>
				<prop key="move*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="set*">PROPAGATION_REQUIRED</prop>
				<prop key="modify*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans>