<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<property name="connection.driver_class">
		oracle.jdbc.OracleDriver
	</property>
	<property name="connection.url">
		jdbc:oracle:thin:@118.192.77.218:1521:orcl
	</property>
	<property name="connection.username">weigate</property>
	<property name="connection.password">weigate</property>
	<property name="dialect">
		org.hibernate.dialect.OracleDialect
	</property>
	<property name="hibernate.query.substitutions">
		true 1, false 0
	</property>
	<property name="show_sql">true</property>
	<!--
	<mapping resource="bizframe_department_view.hbm.xml"/>
	<mapping resource="bizframe_job_view.hbm.xml"/>
	
	<mapping resource="wwop_uploadInput.hbm.xml"/>
	
	<mapping resource="bizframe_rbac.hbm.xml"/>	
	
	<mapping resource="bizframe_report.hbm.xml"/>	
	<mapping resource="bizframe_rbac_funcPerm.hbm.xml"/>
	<mapping resource="bizframe_rbac_dataPerm.hbm.xml"/>	
	<mapping resource="bizframe_rbac.hbm.xml"/>	
	<mapping resource="bizframe_orgn_view.hbm.xml"/>
	<mapping resource="bizframe_orgn.hbm.xml"/>
	<mapping resource="bizframe_message.hbm.xml"/>
	<mapping resource="bizframe_log.hbm.xml"/>-->
	
	<mapping resource="shortcut.hbm.xml"/>
</session-factory>
</hibernate-configuration>
