<config>
	<property name="testGetValueString" value="123456"/>
	<property name="testGetBooleanValue" value="true"/>
	<property name="testGetIntValue" value="120"/>
	<property name="testGetFloatValue" value="0.12"/>
	<testGetValueStringString>
		<property name="testGetValueStringString1" value="aaa"/>
	</testGetValueStringString>
	<property name="testGetTextString" >test</property>
	<testGetTextStringString>
		<property name="testGetTextStringString1" >test</property>
	</testGetTextStringString>
	<testGetConfigUtils>
		<testGetSubValueStringString>
			<property name="testGetSubValueStringString1" value="aaa"/>
		</testGetSubValueStringString>
		<property name="testGetSubValueString" value="bbb"/>
		<testGetSubTextStringString>
			<property name="testGetSubTextStringString1" >test1</property>
		</testGetSubTextStringString>
		<property name="testGetSubTextString" >test2</property>
	</testGetConfigUtils>
	<!-- SQL是否处于调试状态 -->
    <property name="sqlDebugable" value="true"/>
    <!-- 解析sql.xml时,按照数据权限进行拼接过滤 -->
    <property name="dataFilterSqlFuncParser" value="org.simpro.bizframe.rbac.dataperm.env.DataFilterSqlFuncParser"/>
    <!-- 用户设置默认密码  人员机构管理 重置密码 功能需要用到-->
    <property name="defaultPassword" value="123456"/>
    <!-- 系统默认的自然权限值  系统初始化时需要批量设置数据权限时要用到-->
    <property name="defaultNutruePropVal" value="3"/>
    <!-- 附件上传的默认路径 -->
	<uploadInput>
	   <property name="uploadPath" value="E:\tomcat-7-wes-7007-8007-9007\webapps\webcomUpload\"/>
	   <property name="downloadPath" value="E:\tomcat-7-wes-7007-8007-9007\webapps\download\file\"/>
	</uploadInput>
	<!-- 登录时是否校验秘书密码 -->
	<property name="isCheckProxy" value="false"/>
	<!-- 登录时是否校验高级密码 -->
	<property name="isCheckAdvancePsw" value="false"/>
	<property name="isWss" value="false"/>
	<!-- baseURL 必须以"/"结束-->
	<property name="baseURL" value="http://loriyuechina.eicp.net/"/>
	<property name="baseURL4nginx" value="http://doc.qihang.com/"/>
	<!-- 在机构人员管理中增删改人员和部门信息时，是否显示微信数据同步选项 1是 0 否-->
	<property name="isShowWXSyncTips" value="0"/>	
	<ebo>
		<!-- 企业号不带参数的二维码链接-->
		<property name="qyDefaultQrcodeUrl" value="http://weixin.qq.com/r/4EwqMhjEFUVqrVxR9xny"/>
		<!-- 问卷系统url-->
		<property name="hotformUrl" value="http://localhost:7005"/>
		<!-- 奥点LSS服务appId-->
		<property name="aodianLssAppId" value="124"/>
	</ebo>
	<wes>
		<!-- 微信后台对接时填写token-->
		<property name="token" value="LoriYue"/>
		<!-- 微信后台对接时填写token-->
		<property name="encodingAESKey" value="N1kJcPOjJQmtE7U1pvTt0px1XIy2kSWGOZ5VbqqntX0"/>
		<!-- 微信公众号appid或者企业号的corpId-->
		<property name="corpId" value="wx9ceae71eac78d7f1"/>
		<!-- 开发者secret-->
		<property name="secret" value="A5MlF5hm0tU25MR0L-RPlZeZdZkOlweDV4bB0O9MjlV8vXfoyuu7l8dgx4vtf9Wd"/>
		<!-- 功能文本通知图文的封面-->
		<property name="supertextImgUrl" value="/resource/img/52296f8254930.jpg"/>
		<!-- downloadSavePath 必须以"/"结束  微信上传接口-->
		<property name="downloadSavePath" value="E:/tomcat-7.0.27-grwes-7007-8007-9007/webapps/userUpload/"/>
		<!-- downloadFilePath 必须以"/"结束 微信下载接口-->
		<property name="downloadFilePath" value="/userUpload/"/>
	</wes>
	<wss>
		<!-- 微信后台对接时填写token-->
		<property name="token" value="LoriYue"/>
		<!-- 微信后台对接时填写token-->
		<property name="encodingAESKey" value="N1kJcPOjJQmtE7U1pvTt0px1XIy2kSWGOZ5VbqqntX0"/>
		<!-- 微信公众号appid或者企业号的corpId-->
		<property name="corpId" value="wx36d410080ec31ac5"/>
		<!-- 开发者secret-->
		<property name="secret" value="412924c98e011c1827252d0cf3e1bc28"/>
		<!-- wss自带模板消息的模板id-->
		<property name="systemTemplateMessageId" value="z9cfarCxaj6rERSOUlfJD2boV6mL7QpyySdMEk2bgSU"/>
		<!-- downloadSavePath 必须以"/"结束  微信上传接口-->
		<property name="downloadSavePath" value="F:/tomcat-7-wes-7007-8007-9007/webapps/userUpload/"/>
		<!-- downloadFilePath 必须以"/"结束 微信下载接口-->
		<property name="downloadFilePath" value="/userUpload/"/>
	</wss>
	<wcms>
		<!-- wcms上传路径 必须以"\"结束-->
		<property name="uploadPath" value="E:\tomcat-7-wes-7007-8007-9007\webapps\wcmsUpload\"/>
		<!-- 文档服务器预览服务url-->
		<property name="docViewServiceUrl" value="http://218.249.234.71:8080/docview1.0/view.jsp"/>
		<!-- 文档服务器上传服务url-->
		<property name="docSaveServiceUrl" value="http://218.249.234.71:8080/docview1.0/saveDocInfo.jsp"/>
		<!-- 预览本地文档时需要添加的路径 必须以"/"结束-->
		<property name="docViewPreUrl" value="http://localhost:7007/"/>
	</wcms>
	<jedis>
		<!-- jedisServerIp-->
		<property name="jedisServerIp" value="localhost"/>
		<!-- jedisServerPort-->
		<property name="jedisServerPort" value="6379"/>
	</jedis>
	<hotmessage>
		<!-- infoCenterURL 必须以"/"结束-->
		<property name="infoCenterURL" value="http://localhost:7001/hotsendmsg1.1/"/>
		<property name="msgSendServerIP" value="localhost"/>
		<property name="msgSendServerPort" value="7001"/>
		<property name="msgPushServerIP" value="localhost"/>
		<property name="msgPushServerPort" value="7001"/>
		<property name="msgPushServerSocketPort" value="7002"/>
	</hotmessage>
</config>